/* #content {
            display: block;
        }

        .internal {
            display: block;
        } */
.float-container {
  border: 3px solid #fff;
  /* padding: 20px; */
}

.float-child {
  width: 50%;
  float: left;
  /* padding: 20px; */
  /* border: 2px solid red; */
}
.navbar-custom {
  background-color: #10416a;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-weight: bold;
}

#fileViewer {
  width: 1200px;
  max-width: 100%;
  height: 400px;
}


.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
